<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Reciclica</ion-list-header>
          <ion-note>Reciclica App</ion-note>

          <!-- Tambahkan elemen ion-item -->
          <ion-item routerLink="/folder/inbox">Inbox</ion-item>
          <ion-item routerLink="/folder/outbox">Outbox</ion-item>
          <!-- Tambahkan item lainnya sesuai kebutuhan -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
